@import "tailwindcss";

@font-face {
  font-family: 'Merienda';
  src: url('./fonts/Merienda-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Chetta';
  src: url('./fonts/ChettaVissto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Luxuria';
  src: url('./fonts/LuxuriousRoman-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Jura';
  src: url('./fonts/Jura-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.chetta {
  font-family: 'Chetta', sans-serif;
}

.merienda {
  font-family: 'Merienda', sans-serif;
}

.luxuria {
  font-family: 'Luxuria', sans-serif;
}

.jura {
  font-family: 'Jura', sans-serif;
}

body {
  font-family: 'Jura', sans-serif;
}

/* Smooth fading cursor animation */
.typewriter-cursor {
    animation: soft-blink 2s ease-in-out infinite;
    color: #ffffff;
    /* change to your accent color if you want */
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
    /* subtle glow */
}

@keyframes soft-blink {

    0%,
    100% {
        opacity: 0.2;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 12px rgba(255, 255, 255, 0.9);
    }
}